@import "../../../../assets/scss/variables.scss";

.search {
  width: 30%;
  margin: 50px auto;
  padding: 5px 0;
  background-color: $block_color;
  border-radius: 50px;

  @media (max-width: 900px) {
    margin: 30px 10% 50px 10%;
    width: 80%;
  }

  &__wrap {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      gap: 5px;
    }
  }

  &__filter {
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: none;
    background: url(../../../../assets/img/filter_icon.svg) no-repeat center
      center / cover;
    appearance: none;
    color: transparent;
    font-size: 16px;
    font-weight: 500;

    @media (max-width: 768px) {
      width: 30px;
      height: 30px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &-opt {
      color: $block_color;
      background-color: $main_color;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__block {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 80%;

    @media (max-width: 768px) {
      gap: 5px;
    }

    &-input {
      height: 40px;
      width: 100%;
      border-radius: 30px;
      background-color: #b1b1b1;
      padding: 15px;
      font-size: 16px;
      font-weight: 500;
      border: none;

      @media (max-width: 1000px) {
        width: 100%;
      }

      &::placeholder {
        color: $block_color;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
